@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

* {
  font-family: "Tangerine";
}

* {
  font-family: "Montaga";
}

/* RESET */
html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  /* BACKGROUND COLOR */
  --hmn-background-color: linear-gradient(
    140deg,
    rgba(207, 207, 200, 1) 0%,
    rgba(255, 255, 255, 1) 29%,
    rgba(255, 255, 255, 1) 67%,
    rgba(144, 221, 228, 1) 84%,
    rgba(207, 207, 200, 1) 100%
  );
  --hmn-color-background-primary: var(--hmn-background-color);
  --hmn-color-background-secondary: var(--hmn-color-brand);
  --hmn-color-background-tertiary: var(hmn-color-n-100);
  --hmn-color-background-button: var(--hmn-color-brand);

  /* COLORS PALETTE */
  --hmn-color-brand: rgb(144, 221, 228);
  --hmn-color-n-000: rgb(255, 255, 255);
  --hmn-color-n-100: rgb(207, 207, 200);
  --hmn-color-n-500: rgb(142, 142, 142);
  --hmn-color-n-900: rgb(91, 91, 90);

  /* BORDER COLOR */
  --hmn-color-border-button: var(--hmn-color-n-500);

  /* TYPOGRAPHY */
  --hmn-typography-brand: "Tangerine";
  --hmn-typography-normal: "Montaga";

  /* TYPOGRAPHY COLOR */
  --hmn-color-typography-brand: var(--hmn-color-brand);
  --hmn-color-typography-nav: var(--hmn-color-n-500);
  --hmn-color-typography-main: var(--hmn-color-n-900);
  --hmn-color-typography-button: var(--hmn-color-n-500);
  --hmn-color-typography-footer: var(--hmn-color-n-900);

  /* FONT SIZE */
  --hmn-typography-h1: 6em;
  --hmn-typography-h2: 4.5em;
  --hmn-typography-h3: 2em;
  --hmn-typography-p: 1em;
  --hmn-typography-a: 2em;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1200px;
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  max-width: 95%;
  background-color: var(--hmn-background-color);
  color: var(--hmn-color-n-900);
  font-family: var(--hmn-typography-normal);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo > a > img {
  width: 150px;
  height: 150px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

ul {
  list-style: none;
  margin: 0;
  justify-content: center;
  padding: 1em;
}

.header-nav a {
  color: var(--hmn-color-typography-nav);
  text-decoration: none;
  font-family: var(--hmn-typography-brand);
  font-size: var(--hmn-typography-a);
  text-align: center;
  display: block;
}

.header-nav a:hover {
  color: var(--hmn-color-typography-brand);
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-family: var(--hmn-typography-normal);
  color: var(--hmn-color-typography-main);
}

.storytelling-section {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.storytelling-section-1 {
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.storytelling-section-1 h1 {
  margin: 0;
  font-family: var(--hmn-typography-brand);
  font-size: var(--hmn-typography-h1);
  text-align: center;
  justify-content: center;
}

.storytelling-section-1 h3 {
  margin: 0;
  font-family: var(--hmn-typography-normal);
  font-size: var(--hmn-typography-h3);
  font-style: italic;
  text-align: center;
  justify-content: center;
}

.storytelling-section-2 {
  border: 2px solid red;
  margin: 0 auto;
  height: 600px;
  width: 100%;
  max-width: 500px;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 500px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.storytelling-section-2 > div {
  height: 100%;
  width: 100%;
  display: block;
}

.storytelling-section-2 > div > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px rgba(91, 91, 90, 0.2);
}

.ss2ImgSlash > img {
  height: 60%;
  grid-row: 1/3;
}

.ss2ImgBabyGiraffs > img {
  grid-row: 3/5;
  height: 80%;
}
.ss2ImgFamily > img {
  grid-row: 5-7;
  height: 100%;
  z-index: 1;
}

.ss2ImgHarryP > img {
  grid-row: 7/9;
  height: 80%;
  z-index: -1;
}

.ss2ImgStRita > img {
  height: 60%;
}